@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

body {
    background: linear-gradient(#7ed957, yellow, red, orange);
    font-family: 'Tilt Neon';
    zoom: 1.7;
    animation-name: intro;
    animation-duration: 2s;
}

@keyframes intro {
    from {
        opacity: 0;
        width: 0%;
    }
    to {
        opacity: 1;
        width: 100%;
    }
}

.container {
  max-width: 620px;
  border-left: 1px black solid;
  border-right: 1px black solid;
  border-radius: 2%;
  margin: 0 auto;
}

.one, .two, .three {
    max-width: 200px;
    border: 2px black dashed;
    border-radius: 2%;
    display: inline-block;
    box-shadow: 2px 2px 2px;
    text-align: center;
}